@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$textPrimaryColor: #242323d8;
$textSecondaryColor: #171616e2;

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 list-style-type: none;
 border: none;
 background: none;
}

a {
 text-decoration: none;
}

body {
 font-family: 'Roboto', sans-serif;
 background-color: #f7f7f7;
}

// HEADER
header {
 height: 100vh;

 nav {
  height: 10vh;
  background-color: #d6d6d6b5;
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  align-items: center;

  h1 {
   font-size: 22px;
   font-weight: 600;
   font-style: italic;
   color: $textSecondaryColor;
  }

  ul {
   display: flex;
   align-items: center;
   gap: 30px;
   margin-bottom: 0;

   li a {
    color: $textPrimaryColor;
    text-decoration: none;

    &:hover {
     color: #351e05;
     transition: all 0.4s ease-in-out;
    }

    &:active:visited {
     content: '';
     display: block;
     width: 50%;
     height: 3px;
     background-color: #201202;
    }
   }
  }

  .cta-btn {
   font-size: 15px;
   padding: 10px 20px;
   background: #910a05b3;
   border-radius: 4px;
   color: $textPrimaryColor;
   box-shadow: inset 0 -3em 3em #e9e9e94d, 0.3em 0.3em 4em #910a0586;
   cursor: pointer;
   transform: scale(0.8);
   text-transform: uppercase;

   transition: all 0.3s ease-in-out;

   &:hover {
    transform: scale(1);
   }
  }
 }

 .hero-container {
  height: 90vh;
  position: relative;

  video {
   object-fit: cover;
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: 1;
  }

  .overlay {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: 2;
   background: rgba(0, 0, 0, 0.68);
   padding: 9rem 10rem;
   color: #ffff;

   display: flex;
   flex-direction: column;
   gap: 10px;

   h2 {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 3px;
    font-style: italic;
    width: 500px;
   }

   p {
    width: 75%;
   }

   &-cta {
    color: #fff;
    padding: 10px 16px;
    border-radius: 10px;
    font-size: 13px;
    background: #ee4b45bc;
   }
  }
 }
}

// PRODUCTS
.products {
 padding: 3rem 2.5rem;

 &__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #8080808d;
  padding: 13px 0;

  h2 {
   font-size: 22px;
  }

  &--select {
   width: 160px;
   padding: 5px 7px;
   border-radius: 4px;
   border: 1px solid #a3a1a11b;
   outline: none;
   font-size: 14px;
  }
 }

 &__lists {
  padding: 2rem 10px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-column-gap: 15px;
  grid-row-gap: 13px;

  &--product {
   height: 450px;
   border-radius: 4px;
   background-color: #c6c6c6ba;

   &--top {
    position: relative;
    height: 300px;

    img {
     position: absolute;
     width: 100%;
     height: 100%;
     border-top-left-radius: 4px;
     border-top-right-radius: 4px;
     object-fit: cover;
    }

    .active-heart {
     width: 32px;
     height: 32px;
     position: absolute;
     background-color: #ffb0b086;
     color: #910a05b3;
     z-index: 99;
     right: 15px;
     top: 15px;
     font-size: 24px;
     font-weight: 100;
     cursor: pointer;

     display: flex;
     justify-content: center;
     align-items: center;

     border-radius: 50%;
    }

    .active-heart-onClick {
     width: 32px;
     height: 32px;
     position: absolute;
     background-color: #ffb0b086;
     color: #910a05b3;
     z-index: 99;
     right: 15px;
     top: 15px;
     font-size: 24px;
     cursor: pointer;

     display: flex;
     justify-content: center;
     align-items: center;

     border-radius: 50%;
    }

    .heart-hidden {
     display: none;
    }
   }

   &--bottom {
    height: 150px;
    font-size: 12px;
    padding: 8px 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--top {
     display: flex;
     justify-content: space-between;

     h3 {
      font-size: 16px;
     }

     h2 {
      font-size: 15px;
      font-weight: 600;
      //  align-self: flex-end;
     }

     .ratings {
      display: flex;
      align-items: center;
      gap: 3px;

      i {
       color: orange;
      }
     }
    }

    &--bottom {
     display: flex;
     justify-content: space-between;

     .product__list--cta-add {
      width: 90px;
      height: 30px;
      background: #ee4b45bc;
      border-radius: 5px;
      font-size: 13px;
      margin-top: 10px;
      transition: all 0.4s ease-in-out;

      &:hover {
       background: #ab3d39bc;
      }
     }

     .product__list--cta-buy {
      width: 90px;
      height: 30px;
      background: #ee4b45bc;
      border-radius: 5px;
      font-size: 13px;
      margin-top: 10px;
      transition: all 0.4s ease-in-out;
      align-self: flex-end;

      &:hover {
       background: #ab3d39bc;
      }
     }
    }
   }
  }
 }
}

.support {
 width: 80%;
 margin: 3rem auto;
 border-radius: 6px;
 background-color: #8080804a;
 padding: 2.5rem 4rem;

 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 16px;

 h2 {
  text-shadow: 2px 3px 3px #efadad8d;
  font-size: 30px;
  font-weight: 700;
  color: rgb(46, 43, 43);
 }

 p {
  font-size: 14px;
 }
}

// FOOTER STYLE
.footer {
 margin-top: 3rem;
 height: 300px;
 display: flex;
 justify-content: space-between;
 flex-direction: column;
 padding: 3rem 3.5rem;
 background-color: #1a1616e7;
 color: #f3f3f3;
 gap: 3rem;

 &__top {
  display: flex;
  justify-content: space-between;

  &--left {
   display: flex;
   flex-direction: column;
   gap: 1rem;

   h1 {
    font-size: 22px;
    font-weight: 600;
    font-style: italic;
   }

   .subscribe {
    p {
     font-size: 13px;
    }

    &__section {
     width: 400px;
     display: flex;
     justify-content: space-between;
     background-color: #4b4542b7;
     padding: 0.3rem 0.4rem;
     border-radius: 6px;

     input {
      width: 80%;
      outline: none;
      border: none;
      color: #f3f3f3;
      font-size: 14px;
     }

     &--btn {
      width: 20%;
      background-color: #d3d3d3c2;
      padding: 0.5rem 0.6rem;
      font-size: 14px;
      border-radius: 5px;
     }
    }
   }
  }

  &--right {
   display: flex;

   ul {
    display: flex;
    flex-direction: column;
    gap: 7px;

    h5 {
     font-size: 17px;
    }

    li a {
     font-size: 13px;
     color: #f7f7f7;
    }
   }
  }
 }

 &__bottom {
  display: flex;
  justify-content: space-between;
  font-size: 12px;

  &--left {
   display: flex;
   gap: 18px;
   font-size: 15px;
   a {
    color: #f7f7f7;
   }
  }
 }
}

.active--section {
 animation: sectionsAnim 3s;
}

@keyframes sectionsAnim {
 0% {
  transform: translateY(100px);
  opacity: 0.2;
 }

 100% {
  transform: translateY(0);
  opacity: 1;
 }
}

.hidden {
 display: none;
}
